@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Poppins';
	font-size:15px;	
	max-width: 1440px;
    background-color: blueviolet;
    background-image: url('bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: 1200px 670px;
    color: white;
    padding:30px;
}
div.heading {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border: 2px whitesmoke;
    padding: 30px;
}
footer {
    text-align: center;
    font-size: larger;
    margin-top: 60px;
}
img {
    border: 2px;
    border-radius: 7px;
    box-shadow: -5px 7px 20px 2px black;
}
.image{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-left: 100px;
    font-size: 23px;
}
.image img {
    margin:10px;
}
.image2{
    display: flex;
    margin-left: 500px;
    font-size: 80px;
    width: 20px;
}
.image2 h3, span{
    margin:10px;
    color: rgb(224, 77, 77);
}
@media(max-width:600px)
{
	.move{transform: translateY(0);
	}

}
